<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:descendantFocusability="beforeDescendants"
    android:focusableInTouchMode="true"
    android:paddingBottom="1dp"
    android:paddingLeft="1dp"
    android:paddingRight="1dp"
    android:paddingTop="0dp">
    <TableLayout
        android:id="@+id/tableLayout"
        android:layout_width="match_parent"
        android:layout_height="wrap_content">
        <TableRow
            android:id="@+id/tableRow1">
            <EditText
                android:id="@+id/contactList_txtSearch"
                style="@style/input_style"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_weight="1"
                android:hint="Pretraga"
                android:textColorHint="#2e3a83"
                android:visibility="visible"
                android:layout_column="1" />
            <Button
                android:id="@+id/buttonHome"
                style="@style/button_style"
                android:layout_weight="1"
                android:text="Početna"
                android:layout_column="3" />
        </TableRow>
    </TableLayout>
    <ListView
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:layout_below="@+id/tableLayout"
        android:layout_marginTop="0dp"
        android:layout_weight="1"
        android:divider="#b5b5b5"
        android:dividerHeight="1dp"
        android:id="@+id/listArticlesView"
        android:layout_marginBottom="0.0dp" />
</RelativeLayout>